@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: orangered;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

header input {
  width: 30%;
  padding: 8px 15px;
  border: none;
  outline: none;
  border-radius: 50px;
  margin-right: 15px;
}
header input:focus {
  width: 32%;
  transition: all 0.1 ease-in;
}
header button {
  padding: 8px 15px;
  border-radius: 50px;
  border: none;
  outline: none;

  cursor: pointer;
}

header button:hover {
  background: black;
  color: white;
  transition: all 0.1s ease-in;
}
