@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: orangered;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header input {
  width: 30%;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-right: 15px;
}
header input:focus {
  width: 38%;
  transition: all 0.1 ease-in;
}

.container {
  background: antiquewhite;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1.5rem;
  padding: 2%;
  min-height: 100vh;
}

.product-card {
  width: 20%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-height: 300px;
  cursor: pointer;
}

.product-card:hover {
  transition: all 0.2s ease-in;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.product-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card img {
  width: 70%;
  max-height: 250px;
}

.product-details {
  margin-top: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.product-title {
  color: orangered;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.product-details p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  margin: 5px 0;
  color: grey;
}

.product-price {
  font-size: 1rem;
  margin: 8px 0;
}

.more-details {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}

.product-category {
  border: 1px solid lightgray;
  padding: 5px;
}

.product-rating {
  font-weight: 600;
}

.good {
  color: #4caf50 !important;
}

.moderate {
  color: #ff9800 !important;
}

.bad {
  color: #f44336 !important;
}
